:root {
  --color1: #8ecae6,
    --color2: #219ebc,
    --color3: #023047,
    /* secondary */
    --color4: #ffb703,
    /* primary */
    --color5: #fb8500,
    --color6: #121528
}


/* https://www.uplabs.com/posts/portfolio-landing-page-design-23efd571-2072-4a4a-b6e6-d0ebb65b5e96 */

/* https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=023047&secondary.color=ffb803 */
